<h1>hola dream team</h1>


<%=image_tag "team.jpg" %>

<%=link_to "home","/", target:"#"    %>
<%=link_to "about","/about", target:"#"    %>


<%=link_to "https://facebook.com", target: "_blank" do %>

<%= image_tag "chica.jpg", width:"300px", height:"300px", class:"image-border",target:"blank
"%>
<%end%>

<%=link_to "https://facebook.com", target: "_blank" do %>
<%= image_tag "suso.jpg", width:"300px", height:"300px", class:"image-border",target:"blank"%>
<%end%>
